body{
  margin:0px;
  font-family: 'Muli', sans-serif;
}
.app{
  display:grid;
  grid-template-rows: 50px 50px auto;
  grid-template-columns: ;
}
.content{
  grid-area: 3/1/4/2;
}
.side_nav{
  grid-area: 2/1/4/2
}