body{
  margin:0px;
  font-family: 'Muli', sans-serif;
}
button:focus {outline:0;}
.app{
  display:grid;
  grid-template-rows: 50px 50px auto 25px;
  height:100vh;
}
.search{
  display:none;
  line-height: 2em;
  left:50%;
  width: 15em;
  border-radius: 2px;
}
.content{
  display: flex;
  justify-content: center;
  grid-area: 2/1/4/2;
  margin: 10px;
}
.under_nav{
  display: flex;
  justify-content: space-between;
  grid-area: 2/1/4/2;
}
@media (max-width:600px){
  .search{
    display:block;
  }
  .content{
    grid-area: 3/1/4/2;
  }
}