body{
  margin:0px;
  font-family: 'Muli', sans-serif;
}
button:focus {outline:0;}
.app{
  display:grid;
  grid-template-rows: 50px 50px auto 25px;
  height:100vh;
}
.content{
  grid-area: 3/1/4/2;
}
.under_nav{
  display: flex;
  justify-content: space-between;
  grid-area: 2/1/4/2;
}