.top_nav{
  grid-area:1/1/2/2;
  display: flex;
  margin: 0px;
  padding: 0em 1em;
  align-items: center;
  background-color:#808080;
}
.home_button{
  display: inline-block;
  border: none;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;

}
.home_button:hover{
  color: red;
}
.nav_buttons{
  margin-left: auto;
}