.top_nav{
  grid-area:1/1/2/2;
  display: flex;
  margin: 0px;
  padding: 0em 1em;
  align-items: center;
  background-color:#808080;
}
.home_button{
  display: inline-block;
  border: none;
  color: #ffffff;
  text-decoration: none;
}
.nav_buttons{
  margin:10px;
  margin-left: auto;
}
.button {
  display: inline-block;
  border: none;
  background-color: #808080;
  text-decoration: none;
  position:relative;
  z-index: 0;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button::before{
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 95%;
  height: 110%;
  border:red 2px solid;
  transition: .2s;
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg); 
}
.button:hover::before{
  border:gold 2px solid;

}