.box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  text-align: center;
  width:300px;
  border: #808080 2px solid;
}
.form > label{
  display: block;
}
.form > button{
  margin:15px auto;
  display: block;
}