.button {
  display: inline-block;
  border: none;
  background-color: #ffffff;
  text-decoration: none;
  position:absolute;
  z-index: 0;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button::before{
  position: absolute;
  margin-top: 0px;
  z-index: -1;
  content: "";
  top: 0;
  left: -62px;
  right: 0;
  bottom: 0;
  width: 81px;
  height: 81px;
  background-color: #808080;
  transform-origin: left top;
  transform: rotate(-45deg);
}
.box{
  text-align: center;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  margin:0px;
  padding: 0px;
  display: inline-block;
  height: 100vh;
  transition: 0.2s;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #808080;
}